.hero {
    background-image: url(../../Images/Banners/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
    width: 100%;
    height: 100vh;

}

@media only screen and (max-width: 980px) {
    .hero {
        height: 50vh;
    }
}